.background {
    width: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: arial;
    min-width: 500px;
}

section {
    position:relative;
    height: 100%;
}

section.content {
    box-sizing: border-box;
}

section.content div.content-holder {
    height: 100%;
}

section .section-image {
    text-align: center;
}

section .section-image img{
    max-width: 100%;
    max-height: 100%;
}

section.first img {
    max-height: 70%;
    max-width: 90%;
    margin-top: 10px;
}
section a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.flexrow {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

/*This would be nice, but causes some artifacts */
/*.header.hidden {
    -webkit-transform: translate3d(0, -60px, 0);
    opacity: 0;
}
*/

.header .icon {
    height: 90%;
    margin: 0 10px;
}

.header .menu a {
    font-size: 1.3em;
    text-decoration: none;
    padding: 0 10px;
    line-height: 60px;
}

.header .social {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.header .social a {
  height: 75%;
  margin: 0 10px;
}

.header .social a img {
  height: 100%;
}

.footer {
    position: relative;
}

.footer div {
    margin: 0 10px;
}

.footer .builtwith {
    position: absolute;
    font-size: 0.8em;
    right: 0;
    bottom: 4px;
}

.flexcenter {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/*This is for showing an animated scroll down indicator*/

.downarrow {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    opacity: 0.82;
    text-align: center;
}

.downarrow img {
    width: 50px;
    cursor: pointer;
}


@media screen and (orientation:landscape) {

    section.content div.content-holder > div {
        width: 50%;
        /*padding: 0 0;*/
        max-width: 550px;
    }
    section.content .section-text {
        padding: 0 20px;
    }
    section.content {
        padding: 50px 0;
        font-size: 1.7em;
    }
    .footer {
        height: 60px;
    }
}

@media screen and (orientation:portrait) {
    section .flexcenter {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    section.content .section-image {
        max-height: 80%;
        width: 100%;
        box-sizing: border-box;
    }
    section.content div.content-holder > div {
        padding: 10px 30px;
    }

    section.content {
        padding: 50px 0;
        font-size: 1.6em;

    }
    .footer {
        height: 90px;
        font-size: 1.1em;
    }

    .header {
        height: 80px;
    }

    body {
        font-size: 1.3em;
    }

    .header a {
        line-height: 80px;
    }

    .header a {
        font-size: 1.6em
    }
}

/*TODO: If used, move these animation definitions to separate file */
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opactiy: 100%;
    }

}

@-webkit-keyframes rainbow {
    0% {
        color: red;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
    }
}
